/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/09/2021, 4:20:18 p. m.
    Author     : JONATHAN
*/

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "cabeza recursos-web recursos-multimedia"
    ". . ."
    ". . ."
}

.cabeza { 
    grid-area: cabeza; 
    border: 5px green solid;
}

.recursos-web { 
    grid-area: recursos-web; 
     border: 5px blue solid;
}

.recursos-multimedia { 
    grid-area: recursos-multimedia;
    border: 5px red solid;
}
